bandit==1.8.3
behave==1.2.6
colorama==0.4.6
coverage==7.8.0
flake8==7.2.0
iniconfig==2.1.0
markdown-it-py==3.0.0
mccabe==0.7.0
mdurl==0.1.2
packaging==24.2
parse==1.20.2
parse_type==0.6.4
pbr==6.1.1
pluggy==1.5.0
pycodestyle==2.13.0
pyflakes==3.3.2
Pygments==2.19.1
pytest==8.3.5
pytest-cov==6.1.1
PyYAML==6.0.2
rich==14.0.0
setuptools==78.1.0
six==1.17.0
stevedore==5.4.1
